.formContainer{
    background-color:rgb(140, 203, 140);
    padding: 20px;
    box-shadow: 20px 20px 10px slategray ;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
form input{
    display: block;
    width: 80%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
.button {
    background-color: blue;
    padding: 10px;
    margin: 10px;
    color: aliceblue;
    font-size: large;
    border-radius: 10px;
    cursor: pointer;
}